.table-row {
    display: flex;
}

.table-container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: auto;
    flex-grow: 1;
}

.header-row {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

.header-cell,
.table-cell {
    flex: 1;
    border: 1px solid #ccc;
    padding: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.table-cell.selected {
    background-color: #FFFF00;
}

.table-cell.left {
    justify-content: left;
}